html {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #202020;
    color: #dadada;
}

body {
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 24px;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

#container {
    height: 100%;
}

#previous {
    position: fixed;
    top: 0;
    left: 0;
}

#next {
    position: fixed;
    top: 0;
    right: 0;
}

#content {
    width: 80%;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0 auto;
}

#logo {
    width: 300px;
}

.navigation {
    width: 10%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.navigation:hover {
    background-color: #303030;
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.arrow {
    width: 0;
}

.navigation:hover .arrow {
    width: 80%;
    margin: 0 auto;
}

#ninja {
    position: fixed;
    top: 5000px;
}
#ayylmao0, #ayylmao1, #ayylmao2, #ayylmao3, #ayylmao4 {
     position: fixed;
     top: 5000px;
 }